@import url('https://fonts.googleapis.com/css?family=Roboto+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

body{
    background="https://github.com/draseart/ImagenEscrita/blob/gh-pages/Tarea1/BG.jpg?raw=true";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}


#cabeza{
    font-family: 'Roboto', serif;
    margin-top: 380px;
}

#Portafolio{
    font-family: 'Roboto', serif;
}

h1{
    font-weight: 1000;
    font-size: 45px;
    text-align: Left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    color: #000
}
h2{
    font-weight: 600;
    font-size: 30px;
    text-align: Ledt;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 50px;
    color: #000
}
h3{
    font-weight: 600;
    font-size: 15px;
    color: #323232;
    margin-top: 200px;
    margin-bottom: 0px;
    margin-left: 50px;
    width: 10%;
    text-align: left;

}
h4{
    font-weight: 600;
    font-size: 24px;
    color: #323232;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    width: 10%;
    text-align: left

}
a{
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
    margin-bottom: 15px;
    color: #FF8C00;
}
a:hover{
    color: #909090;
}



#cabeza{
    display: flex;
    flex-direction: row;
    justify-content: flex-start
    margin-top: 50px;
}

#titulo{
    width: 40%;
}
